 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who We Are</h2>
                    <hr class="star-primary-white">
                </div>
            </div>
            <div class="row">
                {% for founder in site.founders %}
                <div class="col-lg-6">                    
                    <div class="text-center">
                        <i class="fa {{ founder.icon }} fa-5x" style="margin-bottom: 20px;"></i>
                        <h3>{{ founder.name }}</h3>
                    </div>
                    <p style="text-align: justify; color: #{{ site.color.secondary }};">{{ founder.bio }}</p>
                    <div class="text-center" style="margin-top: 20px; margin-bottom: 20px;">
                        <a href="{{ founder.linkedin_url }}" class="btn btn-lg btn-outline" target="_blank" rel="noopener noreferrer">
                            Connect with<br>{{ founder.name | split: ' ' | first }}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
