    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <!-- Combined Location and Membership Column -->
                    <div class="footer-col col-md-6">
                        <h3>{{ site.footer.location.title }}</h3>
                        <p>
                            {% for address_line in site.address %}
                                {{ address_line.line }}<br>
                            {% endfor %}
                        </p>
                        <p style="margin-top: 20px;">
                            {{ site.footer.location.membership_text }}<br>
                            <a href="{{ site.footer.location.membership_url }}" target="_blank" rel="noopener noreferrer">
                                <img src="{{ site.baseurl }}{{ site.footer.location.membership_logo }}" alt="Maple Studios Logo" height="60">
                            </a>
                        </p>
                    </div>
                    <!-- Social Media Column -->
                    <div class="footer-col col-md-6">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            <p>
                                {% for network in site.social %}
                                <li>
                                    <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                                </li>
                                {% endfor %}
                            </p>
                            <p style="margin-top: 20px;">
                                <li>
                                <div data-iframe-width="250" data-iframe-height="270" data-share-badge-id="b5ed7b9d-9645-40a4-9454-a17d3a8e50a9" data-share-badge-host="https://www.credly.com"></div>
                                <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                                </li>
                                <li>
                                    <div data-iframe-width="250" data-iframe-height="270" data-share-badge-id="96434bd6-8c49-4814-9fe2-3dcc87886250" data-share-badge-host="https://www.credly.com"></div>
                                    <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                                </li>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 20{{ site.time | date: '%y' }} {{ site.footer.copyright }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
