<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/spark_embedded_logo_transparent.png" alt="Spark Embedded Engineering logo" style="max-height: 200px; margin-bottom: 80px;" />
        <div class="intro-text">
          <!-- Main Headline -->
          <span class="name" style="font-size: 3em;">
            {{ site.header.headline_line1 }}<br>{{ site.header.headline_line2 }}
          </span>
          
          <!-- Star Divider -->
          <hr class="star-primary" />

          <!-- Subheading -->
          <span class="skills">
            {{ site.header.skills_line1 }}<br>{{ site.header.skills_line2 }}
          </span>
          
          <!-- Call-to-Action Button -->
          <div class="page-scroll" style="margin-top: 30px;">
            <a href="#whatwedo" class="btn btn-lg btn-success">
                {{ site.header.button_text }}
            </a>
        </div>
      </div>
    </div>
  </div>
</header>
